<%- include('header') -%>
    <main class="container" role="main">
        <% if(errors) { %> 
            <% for(const errField in errors) { %>
                <div class="alert alert-danger"><%= errors[errField].msg%></div>
            <% } %>
        <% } %>
        <h1 class="mt-2">
            <%= title %>
        </h1>
        <form method="POST" action="/articles/edit/<%= article._id %>">
            <div class="form-group">
                <label >Title:</label>
                <input type="text" class="form-control" name="title" value="<%= article.title %>">
            </div>
            <div class="form-group">
                <label >Body:</label>
                <textarea name="body" cols="30" rows="10" class="form-control"><%= article.body %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </form>
    </main>
    <%- include('footer') -%>